* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html {
    height: 100%;
    font-family: Jost, sans-serif;
}

body {

    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #fff;

}

.mainContent {}

header {
    display: flex;
    padding: 1.875em 5.2%;
    justify-content: space-between;
    align-items: center;
}

.top {
    color: #fff;
    background-color: #141024;
    height: 100vh;
}

header h2 {
    text-transform: uppercase;
    font-size: 1.875em;
    font-family: Jost;
    font-weight: 700;
    font-style: Bold;
    line-height: 160%;
    letter-spacing: 0%;
    width: max-content;
}

#nav {

    /* width: 26.875%; */
    width: 324px;
    transform: scale(0);
    transition: 0.7s;
    display: flex;
    gap: 40px;
}

#nav a {

    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0;
    text-align: center;
    color: #fff;

}

header>a {
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: 0;
    text-align: right;
    color: #fff;
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
    line-height: 160%;
    letter-spacing: 0;
    width: 380px;
}
.top-left {
    width: 380px;
    padding-left: 19.791%;
    padding-top: 24.63vh;
}

.top-left p {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0;
    width: 380px;
}

.ddd {
    height: 100px;
}

.footer {}

#ccc {
    display: none;
}

#ccc:checked~#nav {
    right: 0;
}

@media screen and (min-width: 600px) {
    label {
        display: none;
    }

    #nav {
        position: static;
        display: flex;
        justify-content: space-between;
        height: max-content;
        transform: scale(100%);
        transition: 0.7s;
    }
}