html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: #ebebeb;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: dimgrey;
    overflow: hidden;
}

.mainContent {
    display: flex;
    justify-content: space-between;
    /*height: 80vh;*/
}

#nav {
    width: 300px;
    height: 100vh;
    font-size: 45px;
    position: absolute;
    right: -300px;
    top: 0;
    background-color: #000;
    transition: 0.7s;
}

a {
    text-decoration: none;
    display: block;
    align-items: center;
    justify-items: center;
}

.footer {
    background-color: violet;
    padding: 0.5rem;
}

#ccc {
    display: none;
}
#ccc:checked ~ #nav{
        right: 0;
}

@media screen and (min-width: 600px){
    label {
        display: none;
    }
    #nav {
        position: static;
        display: flex;
        justify-content: space-between;
        height: max-content;
    }
}