* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
    font-family: Jost, sans-serif;
}

body {
    
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #fff;
    
}

.mainContent {}

header {
    display: flex;
    padding: 1.875em 5.2%;
    align-items: center;
}
.top {
    color: #fff;
    background-color: #141024;
    height: 100vh;
}

h1 {
    text-transform: uppercase;
    font-size: 1.875em;
    font-family: Jost;
    font-weight: 700;
    font-style: Bold;
    line-height: 160%;
    letter-spacing: 0%;

}

#nav {
    width: 300px;
    height: 9vh;
    font-size: 45px;
    position: absolute;
    right: -300px;
    top: 0;
    background-color: #000;
    transition: 0.7s;
}

a {
    text-decoration: none;
    display: block;
    align-items: center;
    justify-items: center;
}
.ddd {
    height: 100px;
}

.footer {}

#ccc {
    display: none;
}

#ccc:checked~#nav {
    right: 0;
}

@media screen and (min-width: 600px) {
    label {
        display: none;
    }

    #nav {
        position: static;
        display: flex;
        justify-content: space-between;
        height: max-content;
    }
}