* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
}

body {
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: dimgrey;
    overflow: hidden;
}

.mainContent {

}
header {
    display: flex;
    padding: 0 1em;
    align-items: center;
}
h1 {
    text-transform: uppercase;
    font-size: 70px;
}

#nav {
    width: 300px;
    height: 100vh;
    font-size: 45px;
    position: absolute;
    right: -300px;
    top: 0;
    background-color: #000;
    transition: 0.7s;
}

a {
    text-decoration: none;
    display: block;
    align-items: center;
    justify-items: center;
}

.footer {

}

#ccc {
    display: none;
}
#ccc:checked ~ #nav{
        right: 0;
}

@media screen and (min-width: 600px){
    label {
        display: none;
    }
    #nav {
        position: static;
        display: flex;
        justify-content: space-between;
        height: max-content;
    }
}